@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,600;1,700&display=swap');
.khaz-wrap{
    width: 650px;
    margin: 150px auto;
    padding: 20px 25px;
    border-radius: 10px;
    background: #fff ;
}
.khaz-logo_wrap{
    display: flex;
    width: 100%;
    align-items: center;
}
.khaz-logo_wrap .khaz_logo{
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 10%;
    margin: 0;
    margin-right: 20px;
}
.khaz-logo_wrap .khaz_logo img{
    width: 100%;
    height: auto;
}

.khaz-title_link{
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 80%;  
}

.khaz-title_link a{
    font-weight: 700;
    font-size: 32px;
    color: #ff6600;
    font-family: "Poppins", sans-serif;
}
.content-box-khaz h1{
    font-weight: 700;
    font-size: 32px;
    color: #37517e;
    font-family: "Poppins", sans-serif;
}

.content-box-khaz p{
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
}
.khaz-button{
    display: inline-block;
    padding: 12px 35px;
    border-radius: 50px;
    color: #fff;
    background:#47b2e4;
    font-size: 16px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    transition: 0.3s;
    text-decoration: none;
}
.khaz-button:hover,
.khaz-button:focus{
    color: #47b2e4;
    background:transparent;
    border: 1px solid #47b2e4;
}